# ignore all logs
*.log

# ignore all ini files
*.ini

# exclude everything in www
www/*

# exclude everything in config
config/*

# include these files
!README.md
!.gitignore
!.gitalias
!.gitattributes
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!composer.json